.buttonDesign,
.nuxtLinkStyle {
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    color: $black;
}

.nuxtLinkStyle {
    display: inline-block;
    text-align: center;
    text-decoration: none;
}